# Root .gitignore for Mi Padre Hurtado Ecosistema

# Common
.DS_Store
.history
.idea/
*.log

# Web Portals (Next.js)
**/node_modules/
**/.next/
**/out/
**/.env.local
**/.env.*.local

# App Movil (Flutter)
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/ios/Flutter/.last_build_id
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# Scripts and Backups
migrate_working_dir/
